@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
<div class="slider" id="slider-range"></div>
<div class="slider" id="slider-test"></div>
  
  <canvas id="canvasOne" width="900" height="520" ></canvas>
</div>