<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>systemforall.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://globalsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>globalsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>globalsAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$globalsAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SystemForAll.Session.WorldSystemModel" Order="1" Enabled="False">
          <Destination Path="Data Source=SYSTEMFORALLSQL\SYSTEMFORALL;Initial Catalog=WorldSystems;Persist Security Info=True;User ID=sa;Password=Neocomb0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SystemForAll.Session.WorldSystemModel, SystemForAll.Session" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SystemForAll.Session.Repository.WorldSystemModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=SYSTEMFORALLSQL\SYSTEMFORALL;Initial Catalog=WorldSystems;Persist Security Info=True;User ID=sa;Password=Neocomb0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SystemForAll.Session.Repository.WorldSystemModelContainer, SystemForAll.Session" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SystemForAll" Order="3" Enabled="False">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WorldSystem;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WorldSystem;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SystemForAll_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;initial catalog=WorldSystem;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://systemforall.onmicrosoft.com/WebApp-globalsapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>5b2acee9-31fb-4037-9192-c70d723cb879</ADClientAPPID>
    <ADClientPassword>PUoYgX1/xKxECYwNzG82t//U09r6pye5VuCVC+GyDBc=</ADClientPassword>
    <ADReplyUrl>https://globalsapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>c8ace0cc-7af0-4b50-9ff6-dd85213ae9b0</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SystemForAll-Web.config Connection String">
      <ParameterValue>data source=(localdb)\MSSQLLocalDB;initial catalog=WorldSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SystemForAll.Session.Repository.WorldSystemModelContainer-Web.config Connection String">
      <ParameterValue>Data Source=SYSTEMFORALLSQL\SYSTEMFORALL;Initial Catalog=WorldSystems;Persist Security Info=True;User ID=sa;Password=Neocomb0</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SystemForAll.Session.WorldSystemModel-Web.config Connection String">
      <ParameterValue>Data Source=SYSTEMFORALLSQL\SYSTEMFORALL;Initial Catalog=WorldSystems;Persist Security Info=True;User ID=sa;Password=Neocomb0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SystemForAll.Session.Repository.WorldSystemModelContainer" />
    <_ConnectionStringsToInsert Include="SystemForAll.Session.WorldSystemModel" />
  </ItemGroup>
</Project>